# URL de l'API Backend (AWS Lambda / API Gateway)
REACT_APP_LAMBDA_URL=https://votre-api-gateway-url.amazonaws.com/dev/api/v1

# Configuration Cognito
REACT_APP_COGNITO_REGION=us-east-1
REACT_APP_COGNITO_USER_POOL_ID=votre_user_pool_id
REACT_APP_COGNITO_CLIENT_ID=votre_client_id